.background{
    background-color:black;
    width: 100vw;
    height: 100vh;
    .falling_card{
        z-index: 1;
        position: absolute;
        box-shadow: rgb(255, 255, 255) 0px 5px 15px;

        &:nth-child(2n) { 
            --rotateAngleStart:90deg;
            --rotateAngleEnd:180deg;
            animation:falling 12s normal linear infinite
        }
        &:nth-child(odd) { 
            --rotateAngleStart:-10deg;
            --rotateAngleEnd:100deg;
            animation:falling 11s normal linear infinite
        }
        &:nth-child(3n) { 
            --rotateAngleStart:30deg;
            --rotateAngleEnd:360deg;
            animation:falling 7s normal linear infinite
        }
        &:nth-child(4n) { 
            --rotateAngleStart:10deg;
            --rotateAngleEnd:100deg;
            animation:falling 10s normal linear infinite
        }
        &:nth-child(5n) { 
            --rotateAngleStart:-30deg;
            --rotateAngleEnd:300deg;
            animation:falling 6s normal linear infinite
        }
    }
    h1{
        z-index: 2;
        color:orange;
        position: relative;
        top:25%;
        font-size: 60px;
        text-align: center;        
    }
    button{
        z-index: 2;
        font-weight: bold;
        position: relative; 
        left: 50%;
        transform: translateX(-50%);
        top:40%;
        background-color: rgb(241,179,47);
        border:3px solid black;
        font-size: 24px;
        padding:1em 3em 1em 3em;
        border-radius: 11px;
        &:hover{
            opacity: 0.9;
            cursor: pointer;
        }
    }
    .king_holder{
        z-index: 3;
        img{
            width: 20vw;
            object-fit: contain;
        }
    }
    .left{
        position: absolute;
        left:-5%;
        bottom:-4vw;
    }
    .right{
        position: absolute;
        right:-5%;
        bottom:-4vw;
        transform: rotateY(180deg);
    }
}

@keyframes falling{
    0%{
        transform: translateY(0%) rotate3d(1, 1, 0, var(--rotateAngleStart));
    }
    100%{
        transform: translateY(200vh) rotate3d(1, 1, 0, var(--rotateAngleEnd));
    }
}

@media screen and (max-width:500px){
    .background{
        .king_holder{
            img{
                width: 20vh;
            }
        }
    }
}