.background {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.background .falling_card {
  z-index: 1;
  position: absolute;
  -webkit-box-shadow: white 0px 5px 15px;
          box-shadow: white 0px 5px 15px;
}

.background .falling_card:nth-child(2n) {
  --rotateAngleStart:90deg;
  --rotateAngleEnd:180deg;
  -webkit-animation: falling 12s normal linear infinite;
          animation: falling 12s normal linear infinite;
}

.background .falling_card:nth-child(odd) {
  --rotateAngleStart:-10deg;
  --rotateAngleEnd:100deg;
  -webkit-animation: falling 11s normal linear infinite;
          animation: falling 11s normal linear infinite;
}

.background .falling_card:nth-child(3n) {
  --rotateAngleStart:30deg;
  --rotateAngleEnd:360deg;
  -webkit-animation: falling 7s normal linear infinite;
          animation: falling 7s normal linear infinite;
}

.background .falling_card:nth-child(4n) {
  --rotateAngleStart:10deg;
  --rotateAngleEnd:100deg;
  -webkit-animation: falling 10s normal linear infinite;
          animation: falling 10s normal linear infinite;
}

.background .falling_card:nth-child(5n) {
  --rotateAngleStart:-30deg;
  --rotateAngleEnd:300deg;
  -webkit-animation: falling 6s normal linear infinite;
          animation: falling 6s normal linear infinite;
}

.background h1 {
  z-index: 2;
  color: orange;
  position: relative;
  top: 25%;
  font-size: 60px;
  text-align: center;
}

.background button {
  z-index: 2;
  font-weight: bold;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 40%;
  background-color: #f1b32f;
  border: 3px solid black;
  font-size: 24px;
  padding: 1em 3em 1em 3em;
  border-radius: 11px;
}

.background button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.background .king_holder {
  position: relative;
  z-index: 3;
}

.background .king_holder img {
  width: 20vw;
  -o-object-fit: contain;
     object-fit: contain;
}

.background .left {
  position: absolute;
  left: -5%;
  bottom: -4vw;
}

.background .left .left_eye {
  width: 1.4vw;
  position: absolute;
  top: 5.6vw;
  right: 48%;
}

.background .left .right_eye {
  width: 1.4vw;
  position: absolute;
  top: 5.6vw;
  right: 33%;
}

.background .right {
  position: absolute;
  right: -5%;
  bottom: -4vw;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.background .right .left_eye {
  width: 1.4vw;
  position: absolute;
  top: 5.6vw;
  right: 48%;
}

.background .right .right_eye {
  width: 1.4vw;
  position: absolute;
  top: 5.6vw;
  right: 33%;
}

@-webkit-keyframes falling {
  0% {
    -webkit-transform: translateY(0%) rotate3d(1, 1, 0, var(--rotateAngleStart));
            transform: translateY(0%) rotate3d(1, 1, 0, var(--rotateAngleStart));
  }
  100% {
    -webkit-transform: translateY(200vh) rotate3d(1, 1, 0, var(--rotateAngleEnd));
            transform: translateY(200vh) rotate3d(1, 1, 0, var(--rotateAngleEnd));
  }
}

@keyframes falling {
  0% {
    -webkit-transform: translateY(0%) rotate3d(1, 1, 0, var(--rotateAngleStart));
            transform: translateY(0%) rotate3d(1, 1, 0, var(--rotateAngleStart));
  }
  100% {
    -webkit-transform: translateY(200vh) rotate3d(1, 1, 0, var(--rotateAngleEnd));
            transform: translateY(200vh) rotate3d(1, 1, 0, var(--rotateAngleEnd));
  }
}

@media screen and (max-width: 500px) {
  .background .king_holder img {
    width: 20vh;
  }
  .background .right .left_eye {
    width: 1.4vh;
    position: absolute;
    top: 5.6vh;
    right: 48%;
  }
  .background .right .right_eye {
    width: 1.4vh;
    position: absolute;
    top: 5.6vh;
    right: 33%;
  }
  .background .left {
    position: absolute;
    left: -5%;
    bottom: -4vw;
  }
  .background .left .left_eye {
    width: 1.4vh;
    position: absolute;
    top: 5.6vh;
    right: 48%;
  }
  .background .left .right_eye {
    width: 1.4vh;
    position: absolute;
    top: 5.6vh;
    right: 33%;
  }
}
/*# sourceMappingURL=main.css.map */