*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    // overflow-y: hidden;
    overflow-x: hidden;
}
@import "./main/main.css";
@import "./game/playerHand/player_hand.css";
@import "./game/board/boards.css";
@import "./game/controls/controls.css";
@import "./game/gameHolder/game_holder.css";