.combination_deck_holder{
    background-color: white;
    width: 60%;
    height: 40%;
    position: absolute;
    left:20%;
    top:20%;

    .deck{
        width: 100px;
        height: 100px;
        background-color: red;
    }
}